Repository dscnsec/DSC-NSEC-Algorithms, pull requests merged in 2020-12, with the labels that each got.

#20 Adding java code for Push_Zero
  1. Array/push_zero/PushZeroArnab.java
Labels: changes required

#26 [JAVA]PushZeroArnab.java
  1. Array/push_zero/PushZeroArnab.java
Labels: JAVA

#27 [JAVA]WeirdSortingArnab.java
  1. Array/weird_sorting/WeirdSortingArnab.java
Labels: JAVA

#33 added solution for climb_stairs problem
  3. Recursion/climb_stairs/climb_Stairs_upama.cpp
  3. Recursion/climb_stairs/climb_stairs.md
  8. Backtracking/create_sum/Create_Sum_chalti.cpp
Labels: wrong answer

#39 Strings in java
  2. String/malfunctioning_keyboard/MalfunctionKeyboardArnab.java
  2. String/unique_char/UniqueCharacterArnab.java
Labels: JAVA

#35 Added Backtracking and graphs problems
  8. Backtracking/case_game/CaseGameMerlin.java
  8. Backtracking/case_game/case_game.md
  8. Backtracking/create_sum/CreateSumMerlin.java
  8. Backtracking/save_yourself/SaveYourselfMerlin.java
  9. Graph/task_prerequisite/TaskPrerequisiteMerlin.java
Labels: JAVA

#59 Update [CPP]malfunctioning_keyboard_csubhradipta.cpp
  2. String/malfunctioning_keyboard/[CPP]malfunctioning_keyboard_csubhradipta.cpp
Labels: wrong answer

#31 added Weird Sorting in C++
  1. Array/weird_sorting/WeirdSortingSayantan.cpp
Labels: changes required

#71 [JAVA]SpringThrowArnab.java
  1. Array/push_zero/PushZeroArnab.java
  7. Dynamic Programming/spring_throw/SpringThrowArnab.java
Labels: JAVA

#58 [JAVA]PriorityTasksArnab.java
  4. Stack/priority_tasks/PriorityTasksArnab.java
Labels: JAVA

#99 [Java] RemoveImpostersMerlin.java
  5. Linked List/remove_impostors/RemoveImpostersMerlin.java
Labels: JAVA

#113 [Java] GroupingMerlin.java
  5. Linked List/grouping/GroupingMerlin.java
Labels: JAVA

#116 [c++]reverse(linkedlist_recursive)_chalti.cpp & reverse(linkedlist_3P)_chalti.cpp
  5. Linked List/reverse/reverse(linkedlist_3P)_chalti.cpp
  5. Linked List/reverse/reverse(linkedlist_recursive)_chalti.cpp
Labels: changes required

#147 [JAVA]CaseGameArnab.java
  8. Backtracking/case_game/CaseGameArnab.java
Labels: JAVA
